/* Ext css patch */
.x-tab-strip SPAN.x-tab-strip-text {
	font-size: 12px;
}

.x-panel-header {
	font-size: 12px;
}

.x-tree-node {
	font-size: 12px;
}

.x-grid3-hd-row TD {
	font-size: 12px;
}

.x-grid3-row TD {
	font-size: 12px;
	LINE-HEIGHT: 16px;
}

.x-tip .x-tip-bd {
	font-size: 12px;
}

.x-tip h3 {
	font-size: 12px;
}

.x-tip .x-tip-bd-inner {
	font-size: 12px;
}

.x-panel-tl .x-panel-header {
	font-size: 12px;
}

.x-btn button {
	font-size: 12px;
}

.x-menu-list-item {
	font-size: 12px;
}
/* END */